docs/n8n-workflow-complete-fixed.json
{
  "name": "AI 광고 영상 생성기 (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "51560738-1db2-4110-bdbb-cc24bbaa973b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "webhook-node",
      "name": "Webhook",
      "webhookId": "51560738-1db2-4110-bdbb-cc24bbaa973b"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Workflow started\", \"ad_video_id\": $json.body.ad_video_id } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [200, 0],
      "id": "respond-node",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "ad_copy_generation"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [400, 0],
      "id": "update-ad-copy",
      "name": "Update: Ad Copy Generation",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "product_info",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.product_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [600, 0],
      "id": "get-product-info",
      "name": "Get Product Info",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "product_images",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.image_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [800, 0],
      "id": "get-product-image",
      "name": "Get Product Image",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "product-name",
              "name": "product_name",
              "value": "={{ $json.product_name }}",
              "type": "string"
            },
            {
              "id": "image-url",
              "name": "image_url",
              "value": "=https://dcbvrbljeanjzsbrqays.supabase.co/storage/v1/object/public/uploads/{{ $json.storage_path }}",
              "type": "string"
            },
            {
              "id": "ad-video-id",
              "name": "ad_video_id",
              "value": "={{ $('Webhook').item.json.body.ad_video_id }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 0],
      "id": "merge-data",
      "name": "Merge Product Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 전문 마케팅 카피라이터입니다.\n\n다음 상품에 대한 매력적인 광고 문구를 작성해주세요:\n상품명: {{ $json.product_name }}\n\n요구사항:\n- 15초 영상에 적합한 짧고 임팩트 있는 문구\n- 상품의 핵심 가치를 강조\n- 감성적이고 구매 욕구를 자극하는 표현\n- 3-5문장으로 구성\n\nJSON 형식으로 응답해주세요:\n{\n  \"ad_copy\": \"광고 문구\",\n  \"key_message\": \"핵심 메시지\"\n}",
        "options": {
          "systemMessage": "You are a professional marketing copywriter specializing in Korean advertising."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1200, 0],
      "id": "ad-copy-agent",
      "name": "Generate Ad Copy"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "image_refinement"
            },
            {
              "fieldId": "ad_copy",
              "fieldValue": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1400, 0],
      "id": "update-image-refinement",
      "name": "Update: Image Refinement",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-image:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCuBkDmHZo9i3XXRnVPUG09ZT_S6XnmP84"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"이 이미지를 분석하여 광고용으로 더욱 매력적으로 만들 수 있는 개선 사항을 JSON 형식으로 제안해주세요. 구성: {\\\"improvements\\\": [\\\"개선사항1\\\", \\\"개선사항2\\\"], \\\"visual_enhancements\\\": \\\"시각적 향상 방안\\\"}\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": $json.imageData\n          }\n        }\n      ]\n    }\n  ]\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 0],
      "id": "analyze-image",
      "name": "Analyze Image with Gemini"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "video_generation"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1800, 0],
      "id": "update-video-generation",
      "name": "Update: Video Generation",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/veo-3.1-generate-preview:predictLongRunning",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCuBkDmHZo9i3XXRnVPUG09ZT_S6XnmP84"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"prompt\": {\n    \"text\": $json.video_prompt || \"상품을 매력적으로 보여주는 15초 광고 영상\"\n  },\n  \"aspectRatio\": \"9:16\",\n  \"videoDuration\": \"15s\"\n} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 0],
      "id": "generate-video",
      "name": "Generate Video with Veo"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2200, 0],
      "id": "wait-video",
      "name": "Wait for Video Generation",
      "webhookId": "video-wait"
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $json.name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "AIzaSyCuBkDmHZo9i3XXRnVPUG09ZT_S6XnmP84"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 0],
      "id": "check-video-status",
      "name": "Check Video Status"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "tts_generation"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2600, 0],
      "id": "update-tts-generation",
      "name": "Update: TTS Generation",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_OPENAI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"tts-1\",\n  \"input\": $json.ad_copy || \"음성으로 변환할 광고 문구\",\n  \"voice\": \"nova\"\n} }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2800, 0],
      "id": "generate-tts",
      "name": "Generate TTS with OpenAI"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "subtitle_generation"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3000, 0],
      "id": "update-subtitle-generation",
      "name": "Update: Subtitle Generation",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 광고 문구를 자막 형식으로 변환\nconst adCopy = $input.item.json.ad_copy || '';\nconst sentences = adCopy.split(/[.!?]/).filter(s => s.trim());\n\nconst subtitles = sentences.map((sentence, index) => ({\n  index: index + 1,\n  start: index * 3,\n  end: (index + 1) * 3,\n  text: sentence.trim()\n}));\n\nreturn {\n  json: {\n    subtitles,\n    ad_video_id: $input.item.json.ad_video_id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3200, 0],
      "id": "generate-subtitles",
      "name": "Generate Subtitles"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "merging"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3400, 0],
      "id": "update-merging",
      "name": "Update: Merging",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\n\n# 임시 디렉토리 생성\nmkdir -p /tmp/n8n_video\n\n# 비디오, 오디오, 자막 파일을 ffmpeg로 병합\n# (실제로는 파일 경로를 동적으로 받아야 함)\necho \"Video merging complete\"\necho '{\"merged_video_path\": \"/tmp/n8n_video/final.mp4\"}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [3600, 0],
      "id": "merge-video",
      "name": "Merge Video with FFmpeg"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketId": "videos",
        "fileName": "={{ $json.ad_video_id }}.mp4",
        "binaryData": true,
        "options": {}
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3800, 0],
      "id": "upload-final-video",
      "name": "Upload to Supabase Storage",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "ad_videos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.ad_video_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "completed"
            },
            {
              "fieldId": "progress_stage",
              "fieldValue": "completed"
            },
            {
              "fieldId": "video_url",
              "fieldValue": "={{ 'https://dcbvrbljeanjzsbrqays.supabase.co/storage/v1/object/public/videos/' + $json.ad_video_id + '.mp4' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [4000, 0],
      "id": "update-completed",
      "name": "Update: Completed",
      "credentials": {
        "supabaseApi": {
          "id": "seclYjSbdcXGgk0U",
          "name": "my-ad"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Update: Ad Copy Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Ad Copy Generation": {
      "main": [
        [
          {
            "node": "Get Product Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Info": {
      "main": [
        [
          {
            "node": "Get Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Product Image": {
      "main": [
        [
          {
            "node": "Merge Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Product Data": {
      "main": [
        [
          {
            "node": "Generate Ad Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ad Copy": {
      "main": [
        [
          {
            "node": "Update: Image Refinement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Image Refinement": {
      "main": [
        [
          {
            "node": "Analyze Image with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image with Gemini": {
      "main": [
        [
          {
            "node": "Update: Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Video Generation": {
      "main": [
        [
          {
            "node": "Generate Video with Veo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video with Veo": {
      "main": [
        [
          {
            "node": "Wait for Video Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Generation": {
      "main": [
        [
          {
            "node": "Check Video Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Status": {
      "main": [
        [
          {
            "node": "Update: TTS Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: TTS Generation": {
      "main": [
        [
          {
            "node": "Generate TTS with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS with OpenAI": {
      "main": [
        [
          {
            "node": "Update: Subtitle Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Subtitle Generation": {
      "main": [
        [
          {
            "node": "Generate Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Subtitles": {
      "main": [
        [
          {
            "node": "Update: Merging",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update: Merging": {
      "main": [
        [
          {
            "node": "Merge Video with FFmpeg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Video with FFmpeg": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Update: Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "1"
}